<!DOCTYPE html>
<html>
  <head>
    <title>Pruebabasededatos</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="assets/css/main.css" />
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
<body class="is-preload">
    <%= render 'share/nav' %>
		<div id="page-wrapper">
    <%= yield %>
  </div>
    <!-- Scripts -->
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

  </body>
</html>
